#dateContainer{
    margin-top: 6em;
    padding: 3em;
    width: 100%;
    height: 100vh;
    background-color: #ebf5ec;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
#dateContainer::-webkit-scrollbar { width: 0 !important }

#label{
    font-size: 1.5em;
    color: #34373f;
}

#header{
    font-size: 4em;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #dcca78;
    text-shadow: -2px 2px 2px #34373f ;
}

#btn{
    background-color: #e4877d;
    color: #34373f;
    font-family: 'Bitter', serif;
}

#dateColumn{
    display:flex;
    justify-content: center;
}

#dateCardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#group{
    justify-content: center;
}





#gridRow{
    justify-content: center;
}



#reroll{
    width: 25%;
}

#multiSelect{
    height: auto;
    min-width: 5em;
    width: 10em;
    width: 100%;
    object-fit: cover;
}
