#dateCard{
    height: 40em;
    width: 20em;
    margin: 1em 1em 5em;
    display: flex;
    justify-content: center;
    color: #34373f;
    font-family: 'Bitter', serif; 
    background:  #34373f30;
    box-shadow: 0px 0px 10px 0px #34373f;
}

.rating:hover{
    transform: scale(1.25);
}
#cardInfo > h5, #link {
    color: #34373f;
    font-family: 'Bitter', serif;
}

#dateCardHeader{
    height: 2em;
    font-size: calc(1em + 1vh);
    margin: .5em;
}

#imageFrame{
    max-height: 20em;
    min-height: 10em;
    object-fit: cover;
    overflow: hidden;
    background-color: maroon;
}

#image {
    max-height: 20em;
    min-height: 5em;
    width:auto;
}

#dateCardImage{
    object-fit: cover;
}

#categories{
    color: #34373f;
    font-size: .5em;
}

#rerollBtn{
    width: 8em;
    margin-bottom: 1em;
    background: #34373f;
    color: #e4877d;
    font-family: 'Bitter', serif
}

#saveBtn{
    width: 8em;
    margin-bottom: 1em;
    background: #e4877d;
    color: #34373f;
    font-family: 'Bitter', serif; 
}