input {
    max-width: 30em;
    min-width: 10em;
}

#errorMsg{
    color: red;
}

#login-component{
    width: 40em;
    height: 15em;
    display: flex;
    justify-content: center;
    background: #ebf5ec99;

}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#label{
    font-size: 16px;
    font-family: 'Bitter', serif;
    font-weight: bold;
}

#welcome{
    color: #ebf5ec;
    font-family: 'Bitter', serif;
    text-shadow: -2px 2px 2px #34373f ;
}

#logo{
    font-size: 2em;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #dcca78;
    text-shadow: -2px 2px 2px #34373f ;
}

#loginBtn{
    background-color: #e4877d;
    color: #34373f;
    font-family: 'Bitter', serif;
}

#signUpBtn{
    background-color: #dcca78;
    color: #34373f;
    font-family: 'Bitter', serif;
}

#mainColumn{
    justify-content: center;
}