input {
    max-width: 30em;
    min-width: 10em;
}

#errorMsg{
    color: red;
}

#login-component{
    width: 40em;
    height: 15em;
    display: flex;
    justify-content: center;
    background: rgb(199, 198, 198, 0.75)
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#label{
    font-size: 16px;
    font-family: 'Bitter', serif;
    font-weight: bold;
}

#welcome{
    color: white;
    font-family: 'Bitter', serif;
}

#logo{
    font-size: 1.5em;
    font-family: 'Oleo Script Swash Caps', cursive;
}

#loginBtn{
    background-color: rgb(160, 7, 7);
    color: white;
    font-family: 'Bitter', serif;
}

#signUpBtn{
    background-color :rgb(7, 160, 160);
    color: white;
    font-family: 'Bitter', serif;
}

#mainColumn{
    justify-content: center;
}