#profilePage{
    justify-content: center;
}
#edit{
    width: 10em;
}
#profileBar{
    display: flex;
    justify-content: center;
}

#profileBar > .card{
    background-color: #ebf5ec;
    height:75vh;
}

#profileBar > .card > .image{
    background-color: #ebf5ec;
    margin-top: 2em;
}

#userName{
    font-family: 'Bitter', serif;
    font-size: 2em;
    margin: 1em;
    color: #34373f;
}

#pronouns{
    font-size: 50%;
}

#profileCard{
    position: relative;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
#profileCard::-webkit-scrollbar { width: 0 !important }

#profileInfo{
    text-align: left;
    padding: 10%
}

#profileInfo > h4 {
    font-family: 'Bitter', serif;
}

#dateFeed{
    height: 75vh;
    overflow-y: scroll;
}


#request{
    margin-top:-2em;
    margin-left: 6em;
}

#profileCard > div:nth-child(4) > button {
    background-color: #e4877D;
    color: #34373f;
    font-family: 'Bitter', serif;
    margin-bottom: 1em;
}