#editCard{
    width: 100%;
    height:80vh;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

#editCard > .form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}